{% extends 'app/layout.html.twig' %}

{% block title %} <title> Memo Ring - {{ actualite.titre }}</title>{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Memo Ring - {{ actualite.titre }}">
    <meta property="og:description" content="{{ actualite.resume }}">
    <meta property="og:url" content="https://site58.lucpinelli.fr{{app.request.getBaseURL() ~ path('app_actualites_view',{'slug': actualite.slug, 'id': actualite.id})}}">
    <meta property="og:image" content="https://site58.lucpinelli.fr{{ asset('img/upload/' ~ actualite.image) }}">
{% endblock %}

{% block content %}

    {{ include('include/breadcrumb.html.twig') }}

    <div class="section page">
        <div class="inner">

            <div class="actualiteFlex">

                <div class="actualiteImage">
                    <img src="{{ asset('img/upload/' ~ actualite.image) }}">

                    <div class="actualiteInfos">
                        <div class="flag">{{ actualite.categorie }}</div>
                        <div class="actualiteDate"><p>{{ actualite.created|date("d/m/Y") }}</p></div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="actualiteContentAll">
                    <h1>{{ actualite.titre }}</h1>
                    {{ actualite.contenu|raw }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}