{% extends 'app/layout.html.twig' %}

{% block content %}

    <div class="section section1">
        <div class="inner">
        
            <div class="section1Left">
                <h1>
                    quoi ?<br>
                    pour qui ?<br>
                    comment ?<br>
                </h1>

                <p>MEMO-RING est une version inédite du jeu de questions de culture générale. Il allie avec finesse les connaissances et la stratégie pour que les matchs dans le ring soient inoubliables.</p>  
                <p>Ce mélange astucieux entre les connaissances et la stratégie équilibre parfaitement le jeu en lui offrant une infinie rejouabilité. Le MEMO-RING nous immerge dans l’univers du boxeur où l’attaque, la défense et la contre-attaque sont minutieusement orchestrées pour créer comme sur le ring une interaction permanente entre les joueurs. </p> 

                <div class="viewMore" data-more="1">
                    <p>Intergénérationnel de 7 à 107 ans, le MEMO-RING crée des liens privilégiés puissants entre les générations. En famille, entre amis tout le monde prend plaisir à se retrouver autour du MEMO-RING pour des matchs passionnants.</p>  

                    <p>On joue nombreux, en équipe si besoin pour des parties à plus de douze joueurs qui procure la même explosivité qu’un match à trois ou quatre.</p> 

                    <p>Évolutif et personnalisable, on peut utiliser les extensions du jeu (premiers secours par exemple…) ou créer nos propres questions avec la complicité de la richesse des commentaires situées au bas des fiches.</p> 

                    <p>La mécanique du MEMO-RING est inspirée des sciences cognitives (cerveau et mémorisation) pour favoriser les apprentissages et rendre les connaissances accessibles facilement.</p> 

                    <p>MEMO pour la mémorisation, RING pour l’action, la stratégie et le combat permanent entre les joueurs.</p> 
                
                    <p><strong>MEMO-RING « LE JEU DE QUESTIONS QUI PUNCH LES NEURONES »</strong></p>
                </div>

                <a href="#" class="btnContent" data-more="1">En savoir +</a>
            </div>

            <div class="section1Right">
                <div class="section1Boite">
                    <img src="{{ asset('img/boite-de-jeu.png') }}">
                    <img src="{{ asset('img/cool.png') }}" class="section1Cool">
                </div>
            </div>

            <div class="clear"></div>
        </div>   

        <img src="{{ asset('img/plateau-de-jeu-memo-ring.png') }}" class="section1Plateau">
        <img src="{{ asset('img/pow.png')}}" class="section1Pow">
    </div>

    <div class="section section2">
        <div class="inner">

            <div class="titreCentre">
                <h2>Nos vidéos</h2>
            </div>

            <div class="owl-one owl-carousel">

                {% for video in videos %}
                    <div>
                        <div class="videoPlayer">
                            <iframe width="100%" height="574px" src="https://www.youtube.com/embed/{{ video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="videoContent">
                            <p>Lorem ipsum dolor sit amet consectetur. Ornare facilisis varius lobortis ullamcorper enim. Tellus convallis viverra cursus integer enim duis fusce nulla. Massa fames velit at eget orci arcu. Dolor etiam viverra integer molestie morbi morbi vel laoreet. Elementum malesuada lacinia interdum morbi est molestie cras eget. Ornare proin vitae dolor porta diam egestas non feugiat odio. Egestas quis vitae in sed. Egestas consectetur purus in nunc. Est arcu purus egestas sed. Eget consequat tincidunt donec quisque leo. Est faucibus cras ultrices morbi nunc. Urna diam proin aliquam sollicitudin enim sit etiam praesent porttitor. Commodo imperdiet id ut urna odio dui sem.</p>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="clear"></div>
        </div>
        <img src="{{ asset('img/personnage1.png')}}" class="section2Personnage">
    </div>

    <div class="section section3">
        <div class="inner">
            <div class="titreCentre">
                <h2>JEU DE QUESTIONS DE CULTURE GENERALE</h2>
            </div>

            <div class="moduleLeft">

                <div class="moduleImage">
                    <img src="{{ asset('img/jeu-de-question-culture-generale.png') }}">
                </div>

                <div class="moduleContent">
                    <p>Le MEMO-RING c’est mille questions de culture générale multithématiques réparties en trois groupes. Des passerelles et une progressivité entre ses groupes donne du sens à nos connaissances. Ils permettent également à tous de venir s’affronter sur le ring en même temps.</p>

                    <p>Pas de QCM (questions à choix multiples) on joue avec des indices évocateurs (jeux de mots, rimes, connexions entre les connaissances) qui sont beaucoup plus drôles, ludiques et puissant pour mémoriser.</p>

                    <p>Les commentaires situés au bas des fiches questions sont riches et concis, ils permettent d’approfondir les savoirs en les organisant logiquement.</p>

                    <p>L’enrichissement de la connaissance toujours avec la mise en place selon le développement du jeu des pages Q/R codes. Celles-ci nous guiderons vers des informations complémentaires sur la thématique des questions pour la création de liens encore plus fort entre les savoirs.</p>

                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
               </div>
                
                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>JEU DE STRATEGIE</h2>
            </div>

            <div class="moduleRight">

                <div class="moduleContent">
                    <p>La particularité du MEMO-RING nous conduit à utiliser nos connaissances et à mettre en place comme sur le ring une tactique de jeu pour combattre efficacement chacun de nos adversaires.</p>

                    <p>Les actions de jeu (record, défi, duel, chance au dé…) créent des échanges entre les joueurs pour obtenir des points bonus et les ceintures de boxe (trophée) de nos adversaires.</p>

                    <p>La stratégie également avec l’utilisation de nos jokers (carte stratégie soigneur, blocage, esquive, coach) pour gagner des points et intervenir à tout moment dans le match.</p>

                    <p>De la stratégie encore avec la gestion et l’organisation de nos entrainements guidés par la boite « KO ». Celle-ci collecte les fiches questions utilisées pendant le match pour les rendre accessible facilement dans notre quotidien.</p>
                
                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
                </div>

                <div class="moduleImage">
                    <img src="{{ asset('img/jeu-de-strategie.png') }}">
                </div>
                
                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>JEU PERSONNALISABLE ET EVOLUTIF</h2>
            </div>

            <div class="moduleLeft">

                <div class="moduleImage">
                    <img src="{{ asset('img/jeu-personnalisable-et-evolutif.png') }}">
                </div>

                <div class="moduleContent">
                    <p>Chaque combat est unique, le MEMO-RING permet une infinie rejouabilité avec de la combativité et du suspense jusqu’au dernier round de chaque match.</p>

                    <p>Le jeu est évolutif et personnalisable facilement en utilisant des nouvelles questions, soit en jouant de sa créativité soit en utilisant les extensions déjà existantes (ex premier secours) ou celles à venir.</p>

                    <p>Dans le cours du développement du jeu, la mise en place des Q/R codes offrira des compléments d’informations ciblés supplémentaires sur la thématique de chaque question.</p>

                    <p>Le MEMO-RING est un jeu équilibré entre les connaissances et la stratégie afin que tous les participants puissent prendre du plaisir à combattre ensemble au cours de match palpitants.</p>
                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
               </div>
                
                <div class="clear"></div>

            </div>
                        
            <div class="titreCentre">
                <h2>JEU INSPIRE DES SCIENCES COGNITIVES</h2>
            </div>

            <div class="moduleRight">

                <div class="moduleContent">

                    <p>Finis les fameux « Ah je le savais… AH je l’avais sur le bout de la langue… »</p>

                    <p>On oublie les « QCM » (questions à choix multiples) ces petits malins qui nous trompent en nous faisant croire que l’information est accessible alors qu’il faut une proposition avec plusieurs choix pour répondre.
                    On utilise les indices évocateurs qui connectent les connaissances entre elles pour faciliter leur utilisation.</p>

                    <p>La boite « ko » collecte les fiches questions utilisées dans le jeu pour les relire facilement après le match si besoin. L’objectif de l’entrainement est de revenir encore plus combatif pour les prochains rounds.
                    Approfondissements, personnalisation le jeu est évolutif, il s’adapte aux envies de chacun.
                    La compréhension, la réflexion, la créativité et de la mémorisation s’appuient toutes sur notre capital de connaissances.</p>

                    <p>MEMO-RING permet en jouant de développer ce capital si précieux en peu de temps, facilement et surtout sans effort.</p>

                    <p>Le jeu qui plaît aux petits et grands enfants qui aime à se retrouver autour du MEMO-RING pour des moments de rires et de joies privilégiés en famille et entre amis.</p>

                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
                </div>

                <div class="moduleImage">
                    <img src="{{ asset('img/jeu-inspire-des-sciences-cognitives.png') }}">
                </div>
                
                <div class="clear"></div>

            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="section section4">
        <div class="inner">
            <div class="logoPub">
                <img src="{{ asset('img/logomenu.png') }}">
            </div><br>

            <a href="#" class="btn">entrez dans le ring</a>
        </div>
    </div>

    <div class="section section5">
        <div class="inner">

            <div class="titreCentre">
                <h2>JOUER AU MEMO RING</h2>
            </div>

            <div class="moduleLeft first">

                <div class="moduleImage">
                    <img src="{{ asset('img/jouer-au-momo-ring.png') }}">
                </div>

                <div class="moduleContent">

                    <p>Près pour le combat, tous dans le ring pour le départ le 1er round peut commencer.</p>

                    <p>Au MEMO-RING, le joueur qui obtient le plus haut score gagne la partie.</p>

                    <p>On a le choix entre trois options pour définir la fin du match (un temps de jeu chronométré, un score à atteindre en premier ou un nombre de tour de table (round) à réaliser).</p>

                    <p>On accumule des points en répondant à des questions de culture générale. 
                    On obtient des points bonus en réalisant des actions de jeu (logos des cases).</p>

                    <p>On a des cartes stratégies (jokers) pour attaquer, défendre ou contre-attaquer en permanence.</p>

                    <p>La partie se déroule sur un ring entouré de quatre parcours fléchés identiques de six cases.</p>

                    <p>Les déplacements se font au lancer de dé.</p>

                    <p>En fin de parcours passage obligatoire dans le ring pour se confronter en duel à un adversaire aux questions vraies/faux afin d’obtenir sa ceinture de boxe (trophée) et les points offerts par la banque.</p>

                    <div class="moduleStats">
                        <div class="moduleStat stat1">
                            <h4>Plus de</h4>
                            <span>150 000</span>
                            <p>Boites de jeu vendues en 2022</p>
                        </div>

                        <div class="moduleStat stat2">
                            <h4>Plus de</h4>
                            <span>325 000</span>
                            <p>Joueurs dans le monde</p>
                        </div>

                        <div class="clear"></div>
                    </div>
               </div>

                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>LES QUESTIONS CULTURE GENERALE</h2>
            </div>

            <div class="moduleRight">

                <div class="moduleContent">

                    <p>Au MEMO-RING le gagnant est le joueur qui a le plus haut score en fin de partie.</p>

                    <p>On a le choix entre trois options possibles pour déterminer la fin du match : Un temps de jeu chronométré, un nombre de rounds (tours de table) à réaliser ou un nombre de points à atteindre en premier (ex : le 1er à 100 pts).</p>

                    <p>Un premier temps de jeu nous conduit à répondre à deux questions indices (adaptées à notre niveau) pour accumuler des points.</p>

                    <p>Trois possibilités sont offertes pour trouver la bonne réponse : Directement en cash, avec l’aide d’un indice évocateur ou avec la proposition du double choix.</p>

                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
                </div>

                <div class="moduleImage">
                    <img src="{{ asset('img/les-questions-de-culture-generale.png') }}">
                </div>
                
                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>LES ACTIONS DE JEU</h2>
            </div>

            <div class="moduleLeft">

                <div class="moduleImage">
                    <img src="{{ asset('img/les-actions-de-jeux.png') }}">
                </div>

                <div class="moduleContent">

                    <p>Après les deux questions indices on réalise dans la foulée l’action de jeu qui nous est indiquée par le logo présent sur la case du parcours où l’on se situe avant de donner le dé au joueur suivant.</p>

                    <p>Les actions de jeu (défi, duel, record, chance au dé indiquées par le logo des cases) conduisent à provoquer la banque ou d’autres joueurs afin d’obtenir si possible des points supplémentaires.</p>

                    <p>On utilise toujours les questions vraies/faux pour ces confrontations.</p>

                    <p>En fin de parcours le ring nous attend pour le combat (le duel). On provoque aux questions vraies/faux un adversaire pour essayer de lui prendre sa ceinture de boxe (trophée) et les points bonus offert par la banque qui l’accompagne.</p>

                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
               </div>
                
                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>LES CARTES STRATEGIES POUR LE COMBAT</h2>
            </div>

            <div class="moduleRight">

                <div class="moduleContent">

                    <p>Attaque, défense, contre-attaque on intervient à tout moment dans le match, les cartes stratégies tel des jokers nous permettent de nous venir en aide ou d’attaquer nos adversaires pour augmenter notre capital de points. Les cartes stratégies sont souvent utilisées lors des confrontations entre les joueurs (action de jeu défi, duel, chance au dé).</p>

                    <p>La carte soigneur pour annuler une mauvaise réponse donnée sur une question indice ou lors d’une confrontation. La carte esquive pour éviter de perdre des points (sur une confrontation perdue). La carte blocage pour rendre inactive une carte stratégie qui vient d’être utilisée. La carte coach pour venir en aide à un autre joueur en lui offrant la bonne réponse lors d’une confrontation.</p>

                    <p>Le match commence avec huit cartes stratégies chacun. Pendant la partie ensuite, on peut en gagner en les prenant à la banque ou à d’autres joueurs.</p>

                    <p>L’art du boxeur est de savoir déployer sa stratégie au bon moment et surtout de pouvoir l’adapter en permanence en fonction de la tactique mise en place par ses adversaires.</p>
                    
                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
                </div>

                <div class="moduleImage">
                    <img src="{{ asset('img/les-cartes-strategies-pour-le-combat.png') }}">
                </div>
                
                <div class="clear"></div>

            </div>

            <div class="titreCentre">
                <h2>LA BOITE ‘‘KO’’ POUR LES ENTRAINEMENTS</h2>
            </div>

            <div class="moduleLeft">

                <div class="moduleImage">
                    <img src="{{ asset('img/la-boite-ko.png') }}">
                </div>

                <div class="moduleContent">

                    <p>La boite « ko » collecte les fiches questions utilisées pendant le match. Ainsi on va pouvoir s’organiser facilement en peu de temps des petits entrainements pour revenir encore plus combatif pour les prochains rounds.</p>

                    <p>Prendre 2 mn à la fin du match pour relire les questions c’est réaliser un pas décisif sur le chemin de la mémorisation, on indique au cerveau que cette information est importante.</p>

                    <p>Avec un peu de créativité on va pouvoir s’amuser dans ce laps de temps à se créer nos propres indices évocateurs. En profitant de l’intelligence collective du groupe les rires seront assurément au rendez-vous. L’inspiration et la fantaisie de chacun est bien souvent surprenante et parfois déroutante ce qui la rend mémorable.</p>

                    <p>Accessible, transportable et facile d’utilisation la boite « KO » va nous permettre en quelques minutes dans notre quotidien de nous entrainer en relisant les questions et les commentaires qui les complètes. On pourra aussi personnaliser le jeu en ajoutant des nouvelles questions (extension du jeu ou création personnelle).</p>
                    
                    <div class="moduleBtn">
                        <a href="#" class="btn">Acheter le jeu</a>
                    </div>
               </div>
                
                <div class="clear"></div>

            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="section section6">

        <div class="owl-two owl-carousel">

            <div>
                <div class="partenaireLogo">
                    <img src="{{ asset('img/partenaire1.png') }}">
                </div>

                <div class="partenairePdf">
                    <a href="#">Télécharger le PDF</a>
                </div>
            </div>

            <div>
                <div class="partenaireLogo">
                    <img src="{{ asset('img/partenaire2.png') }}">
                </div>

                <div class="partenairePdf">
                    <a href="#">Télécharger le PDF</a>
                </div>
            </div>

        </div>
    </div>

    <div class="section section7">
        <marquee>
            {% for i in 0..50 %}
                <a href="#">Devenez partenaire</a>
                <i class="fas fa-caret-left"></i>
            {% endfor %}
        </marquee>
        <div class="clear"></div>  
    </div>

    <div class="section section8">
        <div class="inner">

            <div class="section8Left">
                <div class="titreCentre">
                    <h2>concours lépine</h2>
                </div>

                <img src="{{ asset('img/concours-lepine-profil.png') }}">
            </div>

            <div class="section8Right">
                <img src="{{ asset('img/concours-lepine-chien.png') }}">

                <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>

                <div class="viewMore" data-more="2">
                    <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>
                </div>
                <a href="#" class="btnContent" data-more="2">En savoir +</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="section section9">
        <div class="titreCentre">
            <h2>témoignages client</h2>
        </div>

        <div class="owl-three owl-carousel">

            <div class="avi">
                <p class="aviType">Luc Pinelli</p>
                <p class="aviDate">19/02/2023</p>
                <p class="aviContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. sagittis, orci ipsum laoreet purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
            </div>

            <div class="avi">
                <p class="aviType">Luc Pinelli</p>
                <p class="aviDate">19/02/2023</p>
                <p class="aviContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. sagittis, orci ipsum laoreet purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
            </div>

            <div class="avi">
                <p class="aviType">Luc Pinelli</p>
                <p class="aviDate">19/02/2023</p>
                <p class="aviContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. sagittis, orci ipsum laoreet purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
            </div>

            <div class="avi">
                <p class="aviType">Luc Pinelli</p>
                <p class="aviDate">19/02/2023</p>
                <p class="aviContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. sagittis, orci ipsum laoreet purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
            </div>

        </div>
    </div>

    <div class="section section10">
        <div class="inner">
            <div class="titreCentre">
                <h2>toutes nos actualités</h2>
            </div>

            <div class="titreChapo">
                <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>
            </div>

            <div class="section10Left">
                <div class="actuListeImage">
                    <img src="{{ asset('img/actualite1.png') }}">
                </div>

                <div class="actuListeContent">
                    <div class="actuListeContentTop">
                        <div class="flag">Catégorie</div>
                        <div class="actuListeDate"><p>20/02/2023</p></div>
                        <div class="clear"></div>
                    </div>

                    <h2>Tire de l'actu</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. Sed interdum, dolor vitae commodo sagittis, orci ipsum laoreet purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo. Sed interdum, dolor vitae commodo sagittis, orci ipsum laoreet purus.</p>
                    <a href="lien" class="btnContent">Lire la suite</a>
                </div>
            </div>

            <div class="section10Right">
                <div class="actuSmall">
                    <div class="actuSmallImage">
                        <img src="{{ asset('img/actualite2.png') }}">
                    </div>

                    <div class="actuSmallContent">
                        <div class="actuSmallContentTop">
                            <div class="flag">Catégorie</div>
                            <div class="actuSmallDate"><p>20/02/2023</p></div>
                            <div class="clear"></div>
                        </div>

                        <h2>Tire de l'actu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
                        <a href="lien" class="btnContent">Lire la suite</a>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="actuSmall">
                    <div class="actuSmallImage">
                        <img src="{{ asset('img/actualite3.png') }}">
                    </div>

                    <div class="actuSmallContent">
                        <div class="actuSmallContentTop">
                            <div class="flag">Catégorie</div>
                            <div class="actuSmallDate"><p>20/02/2023</p></div>
                            <div class="clear"></div>
                        </div>

                        <h2>Tire de l'actu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
                        <a href="lien" class="btnContent">Lire la suite</a>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="actuSmall">
                    <div class="actuSmallImage">
                        <img src="{{ asset('img/actualite4.png') }}">
                    </div>

                    <div class="actuSmallContent">
                        <div class="actuSmallContentTop">
                            <div class="flag">Catégorie</div>
                            <div class="actuSmallDate"><p>20/02/2023</p></div>
                            <div class="clear"></div>
                        </div>

                        <h2>Tire de l'actu</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porta tellus. Fusce lobortis nec orci id commodo.</p>
                        <a href="lien" class="btnContent">Lire la suite</a>
                    </div>

                    <div class="clear"></div>
                </div>

            </div>
            
            <div class="clear"></div>

            <div class="viewAll">
                <a href="lien" class="btnContent">TOUTE L'ACTUALITE</a>
            </div>
        </div>

        <img src="{{ asset('img/actuPersonnage.png') }}" class="actuPersonnage">
    </div>

    <div class="section section4">
        <div class="inner">
            <div class="logoPub">
                <img src="{{ asset('img/logomenu.png') }}">
            </div><br>

            <a href="#" class="btn">entrez dans le ring</a>
        </div>
    </div>

    <div class="section section11">
        <div class="inner">

            <div class="titreCentre">
                <h2>FOIRE AUX QUESTIONS</h2>
            </div>

            <div class="titreChapo">
                <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>
            </div>

            <div class="faqs">
                <h3>titre de la question lorem ipsum dolor sit amet</h3>
                <div class="faqContent">
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3>titre de la question lorem ipsum dolor sit amet</h3>
                <div class="faqContent">
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3>titre de la question lorem ipsum dolor sit amet</h3>
                <div class="faqContent">
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3>titre de la question lorem ipsum dolor sit amet</h3>
                <div class="faqContent">
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3>titre de la question lorem ipsum dolor sit amet</h3>
                <div class="faqContent">
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="viewAll">
                <a href="lien" class="btnContent">télécharger notre e-book</a>
            </div>
        </div>

        <img src="{{ asset('img/faq-personnage.png') }}" class="faqPersonnage">
    </div>

    <div class="section section12">
        <div class="inner">

            <div class="section12Left">

                <div class="titreCentre">
                    <h2>contactez-nous</h2>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur. Habitant eget at proin mauris. Ullamcorper velit augue at est. Ac vitae a amet at neque. Ut lectus morbi fusce vestibulum quis consequat a velit lacus. Ut integer sed donec aliquam dictum dolor tincidunt enim neque. Tempus maecenas fringilla sit egestas integer felis sem habitant mattis. Mollis eget ullamcorper lorem ultricies.</p>
            </div>
            <div class="section12Right">
                
                {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="form-error">
                        {{ form_errors(form.nom) }}
                    </div>
                    {{ form_widget(form.nom) }}

                    <div class="form-error">
                        {{ form_errors(form.tel) }}
                    </div>
                    {{ form_widget(form.tel) }}

                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                    {{ form_widget(form.email) }}

                    <div class="form-error">
                        {{ form_errors(form.message) }}
                    </div>
                    {{ form_widget(form.message) }}

                    <div class="form-error">
                        {{ form_errors(form.captcha) }}
                    </div>
                    {{ form_widget(form.captcha) }}

                    <div class="formsend">
                        {{ form_widget(form.Envoyer) }}
                    </div>

                    {{ form_rest(form) }}

                {{ form_end(form) }}

            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="section section13">
        <div class="inner">

            <div class="cols">
                <div class="col">
                    <h4>Liens utiles</h4>
                    <p><a href="lien">L'informatique avec vous</a></p>
                    <p><a href="lien">Autre lien</a></p>
                    <p><a href="lien">Autre lien</a></p>
                </div>
                <div class="col">
                    <h4>Memo Ring</h4>
                    <p>Eric Floury</p>
                    <p>Les Roches</p>
                    <p>07000 COUX</p>
                </div>
                <div class="col reseaux">
                    <h4>Suivez-nous</h4>
                    <p>
                        <a href="lien"><i class="fab fa-facebook"></i></a>
                        <a href="lien"><i class="fab fa-youtube"></i></a>
                        <a href="lien"><i class="fab fa-twitter"></i></a>
                        
                    </p>
                </div>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

{% endblock %}